h1{
    font-size: 40px;
    color: rgb(236, 145, 160);
}

img{
    width:120px;
}

a{
    text-decoration: none;
    color: rgb(24, 110, 24);
}

.arbol{
    width: 380px;

}

.ecuador{
    width: 280px;
}